{{ define "main" }}

<main>
	<div class="post">
		{{ partial "single/title.html" . }}
		<!-- {{ partial "single/post-info.html" . }} -->
		<!-- <div class="post-line"></div> -->

		{{ partial "single/header.html" . }}

		{{ if and (gt .WordCount 600 )}}
			{{ .TableOfContents }}
		{{ end }}

		{{ .Content }}

		{{ partial "single/footer.html" . }}
	</div>

	<div class="pagination">
		{{- if .PrevPage }}
		<a href="{{ .PrevPage.RelPermalink }}" class="left arrow">&#8592;</a>
		{{- end }}
		{{- if .NextPage }}
		<a href="{{ .NextPage.RelPermalink }}" class="right arrow">&#8594;</a>
		{{- end }}
		<a href="#" class="home">Top</a>
		<!-- <a href="{{ "/" | relURL }}" class="home">Home</a> -->
	</div>
	<!-- Mathjax for latex rendering -->
  <script async type="text/javascript"
					src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
  </script>

</main>

{{ end }}
