<a href="{{ .Permalink }}" class="catalogue-item">
    <div>
        <h1 class="catalogue-title">{{ .Title }}</h1>
        <time datetime="{{ .PublishDate }}" class="catalogue-time">{{ i18n "publishdate" . }}</time>
        <!-- <div class="catalogue-line"></div> -->
        <!-- Removed Post Summary, Maybe look into replacing it by subtitle -->
        <!-- <p> -->
        <!--     {{ if isset .Params "summary" }}{{ .Params.Summary | markdownify }}{{ else }}{{ .Summary }}{{ end }} -->
        <!-- </p> -->
    </div>
</a>
