//-----------
// Colours
//-----------
:root {
  --icon-moon-filter: invert(0);
  --icon-sun-filter: invert(1);
  --icon-filter: var(--icon-sun-filter);
  --gradient: linear-gradient(-70deg, #64acff 0%, slateblue 100%);
  --gradient-sel: slateblue;
  --blend: darken;
  --filter: invert(0%);
  --accent: #a99f9a;
  --accent2: rgba(255, 135, 7, 0.17);
  --link: #458588;
  --code: #cd5555;
  --font: #252525;
  --head: #555;
  --highlight: #edbd7766;
  --bg-sel: #ebe4e1;
  --bg: #ebe4e1;
  --icon-sun: url('data:image/svg+xml,\
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">\
    <path d="M18 12c0-0.811-0.161-1.587-0.455-2.295-0.304-0.735-0.75-1.395-1.303-1.948-0.552-0.552-1.213-0.998-1.948-1.303-0.707-0.293-1.483-0.454-2.294-0.454s-1.587 0.161-2.295 0.455c-0.735 0.304-1.395 0.75-1.948 1.302s-0.998 1.213-1.302 1.948c-0.294 0.708-0.455 1.484-0.455 2.295s0.161 1.587 0.455 2.295c0.304 0.735 0.75 1.395 1.303 1.948 0.552 0.552 1.213 0.998 1.948 1.303 0.707 0.293 1.483 0.454 2.294 0.454s1.587-0.161 2.295-0.455c0.735-0.304 1.395-0.75 1.948-1.303s0.998-1.213 1.303-1.948c0.293-0.707 0.454-1.483 0.454-2.294zM16 12c0 0.544-0.108 1.060-0.303 1.529-0.202 0.489-0.5 0.929-0.869 1.299s-0.81 0.667-1.299 0.869c-0.469 0.195-0.985 0.303-1.529 0.303s-1.060-0.108-1.529-0.303c-0.489-0.202-0.929-0.5-1.299-0.869s-0.667-0.81-0.869-1.299c-0.195-0.469-0.303-0.985-0.303-1.529s0.108-1.060 0.303-1.529c0.202-0.489 0.5-0.929 0.869-1.299s0.81-0.667 1.299-0.869c0.469-0.195 0.985-0.303 1.529-0.303s1.060 0.108 1.529 0.303c0.489 0.202 0.929 0.5 1.299 0.869s0.667 0.81 0.869 1.299c0.195 0.469 0.303 0.985 0.303 1.529zM11 1v2c0 0.552 0.448 1 1 1s1-0.448 1-1v-2c0-0.552-0.448-1-1-1s-1 0.448-1 1zM11 21v2c0 0.552 0.448 1 1 1s1-0.448 1-1v-2c0-0.552-0.448-1-1-1s-1 0.448-1 1zM3.513 4.927l1.42 1.42c0.391 0.391 1.024 0.391 1.414 0s0.391-1.024 0-1.414l-1.42-1.42c-0.391-0.391-1.024-0.391-1.414 0s-0.391 1.024 0 1.414zM17.653 19.067l1.42 1.42c0.391 0.391 1.024 0.391 1.414 0s0.391-1.024 0-1.414l-1.42-1.42c-0.391-0.391-1.024-0.391-1.414 0s-0.391 1.024 0 1.414zM1 13h2c0.552 0 1-0.448 1-1s-0.448-1-1-1h-2c-0.552 0-1 0.448-1 1s0.448 1 1 1zM21 13h2c0.552 0 1-0.448 1-1s-0.448-1-1-1h-2c-0.552 0-1 0.448-1 1s0.448 1 1 1zM4.927 20.487l1.42-1.42c0.391-0.391 0.391-1.024 0-1.414s-1.024-0.391-1.414 0l-1.42 1.42c-0.391 0.391-0.391 1.024 0 1.414s1.024 0.391 1.414 0zM19.067 6.347l1.42-1.42c0.391-0.391 0.391-1.024 0-1.414s-1.024-0.391-1.414 0l-1.42 1.42c-0.391 0.391-0.391 1.024 0 1.414s1.024 0.391 1.414 0z"></path>\
  </svg>');
  --icon-moon: url('data:image/svg+xml,\
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">\
    <path d="M21.996 12.882c0.022-0.233-0.038-0.476-0.188-0.681-0.325-0.446-0.951-0.544-1.397-0.219-0.95 0.693-2.059 1.086-3.188 1.162-0.696 0.047-1.399-0.027-2.077-0.226-0.656-0.192-1.29-0.501-1.874-0.932-0.655-0.484-1.181-1.074-1.575-1.729-0.409-0.68-0.676-1.432-0.792-2.206s-0.082-1.571 0.11-2.342c0.184-0.741 0.514-1.46 0.999-2.115 0.142-0.191 0.216-0.435 0.191-0.691-0.053-0.55-0.542-0.952-1.092-0.898-1.117 0.109-2.186 0.399-3.172 0.843-1.005 0.452-1.925 1.065-2.723 1.808-0.883 0.82-1.618 1.801-2.159 2.901-0.523 1.064-0.863 2.238-0.978 3.485-0.125 1.347 0.024 2.658 0.402 3.878 0.392 1.266 1.031 2.431 1.863 3.433s1.86 1.843 3.033 2.461c1.13 0.595 2.392 0.982 3.739 1.106s2.659-0.025 3.878-0.403c1.266-0.392 2.431-1.031 3.433-1.863s1.843-1.86 2.461-3.033c0.595-1.13 0.982-2.392 1.106-3.739zM19.567 14.674c-0.126 0.351-0.276 0.689-0.447 1.014-0.493 0.937-1.166 1.76-1.969 2.427s-1.735 1.178-2.747 1.491c-0.973 0.302-2.021 0.421-3.102 0.321s-2.089-0.41-2.99-0.884c-0.937-0.493-1.76-1.166-2.427-1.969s-1.178-1.735-1.491-2.747c-0.302-0.973-0.421-2.021-0.321-3.102 0.092-1 0.365-1.938 0.782-2.786 0.43-0.878 1.018-1.661 1.725-2.319 0.64-0.595 1.377-1.086 2.183-1.449 0.179-0.081 0.362-0.155 0.548-0.223-0.092 0.257-0.171 0.516-0.236 0.778-0.256 1.029-0.302 2.091-0.147 3.121s0.51 2.032 1.056 2.941c0.527 0.875 1.23 1.663 2.1 2.306 0.775 0.573 1.622 0.986 2.5 1.243 0.907 0.266 1.846 0.364 2.772 0.302 0.752-0.050 1.496-0.207 2.21-0.465z"></path>\
  </svg>');
}
@media (prefers-color-scheme: dark) {
  :root {
    // --bg: #323f46;
    // --bg: #554e65;
    --bg: #0e141b;
    --bg-sel: #0e001c;
    --gradient: linear-gradient(-70deg, #a2facf 0%, #64acff 100%);
    --gradient-sel: #64acff;
    --link: #88c0d0;
    --code: #fff6ae;
    --font: #ffffff;
    --head: #f2f5f7;
    --highlight: #617bff66;
    --blend: lighten;
    --accent: #a6a1b0;
    --accent2: hsl(210deg, 38%, 15%);
    --filter: invert(100%);
    --button-icon: var(--icon-sun);
    --icon-filter: var(--icon-sun-filter);
  }
}
[data-theme="dark"] {
  // --bg: #323f46;
  // --bg: #554e65;
  --bg: #0e141b;
  --bg-sel: #0e001c;
  --highlight: #617bff66;
  --link: #88c0d0;
  --font: #ffffff;
  --head: #f2f5f7;
  --gradient-sel: #64acff;
  --code: #fff6ae;
  --gradient: linear-gradient(-70deg, #a2facf 0%, #64acff 100%);
  --blend: lighten;
  --filter: invert(100%);
  --accent: #a6a1b0;
  --accent2: hsl(210deg, 38%, 15%);
  --button-icon: var(--icon-sun);
  --icon-filter: var(--icon-sun-filter);
}
[data-theme="light"] {
  --filter: invert(0%);
  --blend: darken;
  --gradient-sel: slateblue;
  --gradient: linear-gradient(-70deg, #64acff 0%, slateblue 100%);
  --link: #458588;
  --code: #cd5555;
  --font: #252525;
  --head: #555;
  --accent: #a99f9a;
  --accent2: rgba(255, 135, 7, 0.17);
  --button-icon: var(--icon-moon);
  --highlight: #edbd7766;
  --icon-filter: var(--icon-moon-filter);
  --bg: #ebe4e1;
  --bg-sel: #ebe4e1;
}
* {
  @include box-sizing;
  line-height: 1.5;
  box-sizing: border-box;
  // -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
}

//-----------
// Content
//-----------
html,
.content {
  display: block;
  color: var(--font);
  background: var(--bg);
  // margin-left: auto;
  // margin-right: auto;
  margin: 0;
  height: 100%;
  // padding-left: 12.5%;
  // max-width: 1400px;
}
html {
  color: var(--bg);
  font-family: $sans-serif;
  font-size: 22px;
  overflow: scroll;
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 0;
  @media (max-width: 625px) {
    font-size: 20px;
  }
}
body {
  margin: 0;
  color: var(--font);
  transition: background 0.8s ease-in-out, color 0.5s ease;
  background: var(--bg);
  // overflow: hidden;
  -webkit-text-size-adjust: 100%;
}
.container {
  @media (min-width: 1100px) {
    // Tufte
    padding-right: 20%;
    width: 87.5%;
    max-width: 1250px;
  }

  margin: 0 auto;
  max-width: 1000px;
  width: 95%;
  transition: background 0.8s ease-in-out, color 0.5s ease;
}
h1 {
  color: var(--head);
  font-weight: normal;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  font-size: 3.2rem;
  line-height: 1;
}
h2 {
  font-family: "Fira Sans", sans-serif;
  color: var(--head);
  margin-top: 2.1rem;
  text-align: right;
  border-bottom: 2px solid var(--accent);
  margin-bottom: 1.4rem;
  font-size: 1.8rem;
  line-height: 1;
}
h3 {
  color: var(--head);
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
h4,
h5,
h6 {
  color: var(--head);
  font-family: $sans-serif;
  line-height: normal;
}
a {
  color: var(--link);
  text-decoration: none;
}
blockquote {
  display: block;
  // margin-inline-end: 4rem;

  border-bottom: 3px double #727272;
  border-top: 3px double #727272;
}
img {
  display: block;
  margin: 0 0 1rem;
  filter: var(--filter);
  mix-blend-mode: var(--blend);
  max-width: 100%;

  &:hover,
  &:focus {
    // transform: scale(1.03);
    transition-duration: 0.5s;
    // border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}
figcaption {
  font-style: italic;
  color: #aaa;
}
::-moz-selection {
  /* Code for Firefox */
  // color: var(--bg-sel);
  // background: var(--font);
  background: var(--highlight);
}
::selection {
  // color: var(--bg-sel);
  background: var(--highlight);
  // background: var(--font);
}

//-------------
// Tables
// ------------

// Taken from Practical Typography
thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
table {
  margin-bottom: 1.5em;
  border-collapse: collapse;
  width: 95%;
  margin-left: 0.75em;
}
table th {
  font-family: "Josefin Sans";
  font-weight: normal;
  text-transform: uppercase;
  font-size: 90%;
  font-style: bold;
  letter-spacing: 1px;
  padding: 0.3rem 0.5rem;
  line-height: 1.05;
}
tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
table td {
  padding: 0.4em;
  text-align: center;
  hyphens: none;
}
table td + td {
  border-left: 1px solid var(--accent);
}
table tr + tr {
  border-top: 1px solid var(--accent);
}

// ----------------
// Custom Scrollbar
// ----------------
.custom-scrollbar {
  display: block;
  overflow: auto;
  height: 100vh;
}
.custom-scrollbar::-webkit-scrollbar {
  background-color: transparent;
  width: 18px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
  // FIXME
  &:hover {
    opacity: 0.6;
  }
}
.custom-scrollbar::-webkit-scrollbar-corner {
  background: var(--bg);
}

// ----------------
// Dark Mode toggle
// ----------------
.toggle {
  display: none;
}
.label {
  display: inline-block;
  align-items: right;
  // justify-content: space-between;
  // position: relative;

  position: fixed;
  left: auto;
  bottom: auto;
  right: 2.5vw;
  top: 1.2rem;

  background: var(--font);
  border-radius: 5rem;
  padding: 0.5rem;
  margin: 1rem 0 0 1rem;
  height: 2rem;
  width: 2rem;
  font-size: 1.5rem;
  transition: background 0.5s ease;
  cursor: pointer;
  z-index: 1;

  @media only screen and (max-width: 850px) {
    transform: scale(0.92);
    top: 0.5rem;
  }

  @media only screen and (max-width: 625px) {
    transform: scale(0.85);
    top: 0.1rem;
  }
}

.themebox {
  display: inline-block;
  // border: 1px solid var(--gradient-sel);
  // border-radius: 5px;
  padding: 0 5px;
  // box-shadow: 0 2px 0 var(--gradient-sel);
  color: var(--font);
  transition: background 0.8s ease;

  // &:active {
  //   box-shadow: none;
  //   transform: translateY(2px);
  // }
}

.themebox::after {
  content: "Night";
}
.toggle:checked ~ .themebox::after {
  content: "Day";
}

.label .ball {
  position: absolute;
  background: var(--bg);
  border-radius: 50%;

  top: 0.25rem;
  left: 0.25rem;
  height: 1.5rem;
  width: 0.75rem;
  border-radius: 0.75rem 0 0 0.75rem;

  transition: transform 0.8s ease, background-color 0.6s ease;
}
.toggle:checked + .content .label .ball {
  display: inline-block;
  transform: translateX(0.75rem) rotate(180deg);
}

.toggle-icon {
  background: var(--button-icon);
  width: 1.2em;
  height: 1.2em;
  margin: 0 0 0 0.5em;
  transform: translateY(1px); /* Optical adjustment */
  filter: var(--icon-filter);
  color: var(--font);
  transition: filter 300ms ease-in-out;
}

.katex {
  font-size: 1em !important;
}

//-----------
// Fonts
//-----------
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&Nanum+Myeongjo&Noto+Serif+KR:wght@200&family=Mulish:wght@300&family=Abril+Fatface&display=swap");
@font-face {
  font-family: "Fira Sans";
  font-weight: 100;
  font-display: fallback;
}
@font-face {
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  font-display: fallback;
}
@font-face {
  font-family: "Abril Fatface", serif;
  font-display: fallback;
  weight: 400;
}
@font-face {
  font-family: "Noto Serif KR", serif;
  font-weight: 200;
  font-display: fallback;
}
@font-face {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 400;
  font-display: fallback;
}

@font-face {
  font-family: "Cormorant";
  font-weight: 300;
  font-style: italic;
  font-display: fallback;
}
@font-face {
  font-family: "Josefin Sans";
  font-weight: 200;
  font-display: fallback;
}
@font-face {
  font-family: "Josefin Sans";
  font-weight: 300;
  font-display: fallback;
}
@font-face {
  font-family: "XCharter";
  font-weight: 300;
  font-display: fallback;
}
@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-display: fallback;
}
@font-face {
  font-family: "Roboto Mono";
  font-weight: 300;
  font-display: fallback;
}
@font-face {
  font-family: "Inter";
  font-weight: 300;
  font-display: fallback;
}
@font-face {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-display: fallback;
}
@font-face {
  font-family: "Source Serif Pro";
  font-weight: 400;
  font-style: italic;
  font-display: fallback;
}
@font-face {
  font-family: "Source Serif Pro";
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Source Serif Pro";
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Source Serif Pro";
  font-weight: 300;
  font-style: italic;
  font-display: fallback;
}
@font-face {
  font-family: kepler-std-semicondensed-dis, serif;
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Bodoni Moda", serif;
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-display: fallback;
}
@font-face {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-display: fallback;
}
@font-face {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-display: fallback;
}

// ARCHIVE

// blockquote {
//   border-left: 0.25rem solid var(--font);
//   color: var(--font);
//   margin: 0.8rem 0;
//   padding: 0.5rem 1rem;

//   p:last-child {
//     margin-bottom: 0;
//   }

//   @media (min-width: 600px) {
//     padding: 0 5rem 0 1.25rem;
//   }
// }
