:root {
  --light-bg: #fbf1c7;
  // --light-bg: #c9c9c9;
  // --light-bg: #ebe4e1;
  --dark-bg: #323f46;
  --light-font: #555;
  --dark-font: #c9cdd7;
  --light-scroll: #555;
  --dark-scroll: #000;
  --bg: var(--light-bg);
  --txt: var(--light-font);
  --scroll: var(--light-scroll);
  --light-link: #458588;
  --dark-link: #88C0D0;
  --link: var(--light-link);
}

* {
  @include box-sizing;
  line-height: 1.5;
  box-sizing: border-box;
}

html,
.content {
  color: var(--txt);
  background-color: var(--bg);
  margin-left: auto;
  margin-right: auto;
  // padding-left: 12.5%;
  // max-width: 1400px;
  transition: background 0.3s ease;
}

// [data-theme="dark"] {
//     --primary-color: #9A97F3;
//     --secondary-color: #818cab;
//     --font-color: #e1e1ff;
//     --bg-color: #202945;
//     --heading-color: #818cab;
// }

html {
  font-family: $sans-serif;
  font-size: 15px;
  overflow-y: scroll;

  @media (min-width: 600px) {
    font-size: 16px;
  }
}

body {
  -webkit-text-size-adjust: 100%;
}

h1 {
  // font-weight: 400;
  color: var(--txt);
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  font-size: 3.2rem;
  line-height: 1;
}

h2 {
  // font-style: italic;
  color: var(--txt);
  font-weight: 400;
  margin-top: 2.1rem;
  margin-bottom: 1.4rem;
  font-size: 2.2rem;
  line-height: 1;
}
h3 {
  font-family: $sans-serif;
  font-size: 1.6rem;
}
h4,
h5,
h6 {
  // color: $default-shade;
  font-family: $sans-serif;
  line-height: normal;
}

a {
  font-family: $sans-serif; //temp test
  color: var(--link);
  text-decoration: none;
}

blockquote {
  border-left: .25rem solid $grey-2;
  color: $grey-1;
  margin: .8rem 0;
  padding: .5rem 1rem;

  p:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 600px) {
    padding: 0 5rem 0 1.25rem;
  }
}
// Fix filter to change whites in png to match blog bg
img {
  display: block;
  margin: 0 0 1rem;
  max-width: 100%;
  filter: invert(7%) sepia(22%) saturate(405%) hue-rotate(340deg) brightness(102%) contrast(97%);
}

td {
  vertical-align: top;
}
// Custom Scrollbar
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  // background-color: #d5c4a1;
  background-color: var(--scroll);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
// Dark Mode toggle
.checkbox {
  display: none;
}

.label {
  display: inline-block;
  align-items: right;
  justify-content: space-between;
  position: relative;
  background: var(--txt);
  border-radius: 5rem;
  padding: 0.5rem;
  margin: 1rem 0 0 8rem;
  height: 2rem;
  width: 4rem;
  font-size: 1.5rem;
  transition: background 0.5s ease;
  cursor: pointer;
  z-index: 1;
}

.label .ball {
  position: absolute;
  background-color: var(--bg);
  border-radius: 50%;
  top: 0.25rem;
  left: 0.25rem;
  height: 1.5rem;
  width: 1.5rem;
  transform: translateX(0);
  transition: transform 0.3s ease, background-color 0.5s ease;
}

// .image {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }
// .image .fab {
//   position: absolute;
//   font-size: clamp(10rem, 80vw, 80vh);
//   transition: opacity 0.3s ease-in-out 0.5s;
// }

.checkbox:checked + .content .label .ball {
  display: inline-block;
  transform: translateX(2rem);
}

.checkbox:checked + .content {
  --bg: var(--dark-bg);
  --txt: var(--dark-font);
}

.checkbox:checked + a {
  --link: var(--dark-link);
}

.checkbox:checked + h1 h2 {
--txt: var(--dark-font);
}

.fa-galactic-republic {
  color: var(--dark-font);
}

.fa-rebel {
  color: var(--light-font);
}
