//-----------
// Colours
//-----------
:root {
    --icon-moon-filter: invert(0);
    --icon-sun-filter: invert(1);
    --icon-filter: var(--icon-sun-filter);
    --gradient: linear-gradient(-70deg, #64acff 0%, slateblue 100%);
    --gradient-sel: slateblue;
    --blend: darken;
    --filter: invert(0%);
    --accent: #555;
    --accent2: rgba(255, 135, 7, 0.17);
    --link: #458588;
    --code: #555;
    --font: #252525;
    --head: #555;
    --highlight: #edbd7766;
    // --bg-sel: #ebe4e1;
    // --bg: #ebe4e1;
    --bg: #fff1e5;
    --bg-sel: #fff1e5;
}
@media (prefers-color-scheme: dark) {
    :root {
        // --bg: #323f46;
        // --bg: #554e65;
        --bg: #0e141b;
        --bg-sel: #0e001c;
        --gradient: linear-gradient(-70deg, #a2facf 0%, #64acff 100%);
        --gradient-sel: #64acff;
        --link: #88c0d0;
        --code: #ffffffcc;
        --font: #f0f0f0;
        --head: #f2f5f7;
        --highlight: #617bff66;
        --blend: lighten;
        --accent: #ffffffcc;
        --accent2: hsl(210deg, 38%, 15%);
        --filter: invert(100%);
        --icon-filter: var(--icon-sun-filter);
    }
}
[data-theme="dark"] {
    // --bg: #323f46;
    // --bg: #554e65;
    --bg: #0e141b;
    --bg-sel: #0e001c;
    --highlight: #617bff66;
    --link: #88c0d0;
    --font: #f0f0f0;
    --head: #f2f5f7;
    --gradient-sel: #64acff;
    --code: #ffffffcc;
    --gradient: linear-gradient(-70deg, #a2facf 0%, #64acff 100%);
    --blend: lighten;
    --filter: invert(100%);
    --accent: #ffffffcc;
    --accent2: hsl(210deg, 38%, 15%);
    --icon-filter: var(--icon-sun-filter);
}
[data-theme="light"] {
    --filter: invert(0%);
    --blend: darken;
    --gradient-sel: slateblue;
    --gradient: linear-gradient(-70deg, #64acff 0%, slateblue 100%);
    --link: #458588;
    --code: #555;
    --font: #252525;
    --head: #555;
    --accent: #555;
    --accent2: rgba(255, 135, 7, 0.17);
    --highlight: #edbd7766;
    --icon-filter: var(--icon-moon-filter);
    // --bg: #ebe4e1;
    --bg: #fff1e5;
    --bg: #fff1e5;
    // --bg-sel: #ebe4e1;
}
* {
    @include box-sizing;
    line-height: 1.55;
    box-sizing: border-box;
    // -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
}

//-----------
// Content
//-----------
html,
.content {
    display: block;
    color: var(--font);
    background: var(--bg);
    margin-bottom: 0.8em;
    // margin-left: auto;
    // margin-right: auto;
    margin: 0;
    height: 100%;
    // padding-left: 12.5%;
    // max-width: 1400px;
}
html {
    color: var(--bg);
    font-family: $sans-serif;
    font-size: 22px;
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0;
    @media (max-width: 625px) {
        font-size: 20px;
    }
    scroll-behavior: smooth;
}
body {
    margin: 0;
    color: var(--font);
    transition: background 0.8s ease-in-out, color 0.5s ease;
    background: var(--bg);
    // overflow: hidden;
    overflow-y: auto;
    height: 100vh;
    -webkit-text-size-adjust: 100%;
}
.container {
    @media (min-width: 1480px) {
        // Tufte
        padding-right: 20%;
        width: 87.5%;
        margin: 0 4rem;
        max-width: 90%;
    }
 
    margin: 0 auto;
    // max-width: 1000px;
    width: 95%;
    transition: background 0.8s ease-in-out, color 0.5s ease;
}
h1 {
    color: var(--head);
    font-weight: normal;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    font-size: 3.2rem;
    a {
        line-height: 1;
    }
    line-height: 1;
}
h2 {
    font-family: "Fira Sans", sans-serif;
    color: var(--head);
    margin-top: 2.1rem;
    // text-align: right;
    padding-bottom: 5px;
    a {
        line-height: 1;
    }
    border-bottom: 1px solid var(--accent);
    margin-bottom: 1.4rem;
    font-size: 1.8rem;
    @media (max-width: 625px) {
        font-size: 1.4rem;
        font-weight: 300;
    }
    line-height: 1;
}
h3 {
    color: var(--head);
    text-transform: uppercase;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
    // margin-left: 4px;
    margin-bottom: 0.5rem;
}
h4,
h5,
h6 {
    color: var(--head);
    font-family: $sans-serif;
    font-size: 1.05rem;
    letter-spacing: 0.1rem;
    margin-bottom: 0.5rem;
}
a {
    color: var(--link);
    text-decoration: none;
}
blockquote {
    display: block;
    // margin-inline-end: 4rem;

    border-bottom: 3px double #727272;
    border-top: 3px double #727272;
}
img {
    display: block;
    margin: 0 0 1rem;
    filter: var(--filter);
    mix-blend-mode: var(--blend);
    max-width: 100%;

    &:hover,
    &:focus {
        // transform: scale(1.03);
        transition-duration: 0.5s;
        // border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
}
figcaption {
    font-style: italic;
    color: #aaa;
}
::-moz-selection {
    /* Code for Firefox */
    // color: var(--bg-sel);
    // background: var(--font);
    background: var(--highlight);
}
::selection {
    // color: var(--bg-sel);
    background: var(--highlight);
    // background: var(--font);
}

//-------------
// Tables
// ------------

// Taken from Practical Typography
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
table {
    margin-bottom: 1.5em;
    border-collapse: collapse;
    width: 95%;
    margin-left: 0.3em;
    display: block;
    overflow: auto;
    white-space: nowrap;
}

table::-webkit-scrollbar {
    display: none;
}

table th {
    font-family: "Josefin Sans";
    font-weight: normal;
    text-transform: uppercase;
    font-size: 90%;
    font-style: bold;
    letter-spacing: 1px;
    padding: 0.3rem 0.5rem;
    line-height: 1.05;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
table td {
    font-family: "Source Sans Pro";
    font-weight: 300;
    padding: 0.4em;
    text-align: center;
    hyphens: none;
}
table td + td {
    border-left: 1px solid var(--accent);
}
table tr + tr {
    border-top: 1px solid var(--accent);
}

// ----------------
// Custom Scrollbar
// ----------------
.custom-scrollbar {
    // display: block;
    overflow: auto;
    height: 100vh;
}
::-webkit-scrollbar {
    background-color: transparent;
    width: 18px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background: var(--accent);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
    // FIXME
    &:hover {
        opacity: 0.6;
    }
}
::-webkit-scrollbar-corner {
    background: var(--bg);
}

// ----------------
// Dark Mode toggle
// ----------------
.toggle {
    display: none;
}
.label {
    display: inline-block;
    align-items: right;
    // justify-content: space-between;
    // position: relative;

    position: fixed;
    left: auto;
    bottom: auto;
    right: 2.5vw;
    top: 1.2rem;

    background: var(--font);
    border-radius: 5rem;
    padding: 0.5rem;
    margin: 1rem 0 0 1rem;
    height: 2rem;
    width: 2rem;
    font-size: 1.5rem;
    transition: background 0.5s ease;
    cursor: pointer;
    z-index: 1;

}

.themebox {
    font-family: "Josefin Sans";
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    // border: 1px solid var(--gradient-sel);
    // border-radius: 5px;
    padding: 0 5px;
    // box-shadow: 0 2px 0 var(--gradient-sel);
    color: var(--font);
    transition: background 0.8s ease;

    // &:active {
    //   box-shadow: none;
    //   transform: translateY(2px);
    // }
}

.themebox::after {
    content: "Night";
}
.toggle:checked ~ .themebox::after {
    content: "Day";
}

.label .ball {
    position: absolute;
    background: var(--bg);
    border-radius: 50%;

    top: 0.25rem;
    left: 0.25rem;
    height: 1.5rem;
    width: 0.75rem;
    border-radius: 0.75rem 0 0 0.75rem;

    transition: transform 0.8s ease, background-color 0.6s ease;
}
.toggle:checked + .content .label .ball {
    display: inline-block;
    transform: translateX(0.75rem) rotate(180deg);
}

.toggle-icon {
    width: 1.2em;
    height: 1.2em;
    margin: 0 0 0 0.5em;
    transform: translateY(1px); /* Optical adjustment */
    filter: var(--icon-filter);
    color: var(--font);
    transition: filter 300ms ease-in-out;
}

.katex {
    font-size: 1em !important;
}

//-----------
// Fonts
//-----------
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;300&Nanum+Myeongjo&Noto+Serif+KR:wght@200&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Merriweather:ital,wght@0,300;0,400;1,300;1,400&display=swap");
@font-face {
    font-family: "Fira Sans";
    font-weight: 100;
    font-display: fallback;
}
@font-face {
    font-family: "Noto Serif KR", serif;
    font-weight: 200;
    font-display: fallback;
}
@font-face {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-display: fallback;
}
@font-face {
    font-family: "Josefin Sans";
    font-weight: 200;
    font-display: fallback;
}
@font-face {
    font-family: "Josefin Sans";
    font-weight: 300;
    font-display: fallback;
}
@font-face {
    font-family: "Josefin Sans";
    font-weight: 600;
    font-display: fallback;
}
@font-face {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: "Source Serif Pro";
    font-weight: 200;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "Source Serif Pro";
    font-weight: 200;
    font-style: italic;
    font-display: fallback;
}
@font-face {
    font-family: kepler-std-semicondensed-dis, serif;
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-display: fallback;
}
@font-face {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-display: fallback;
}
@font-face {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-display: fallback;
}

// ARCHIVE

// blockquote {
//   border-left: 0.25rem solid var(--font);
//   color: var(--font);
//   margin: 0.8rem 0;
//   padding: 0.5rem 1rem;

//   p:last-child {
//     margin-bottom: 0;
//   }

//   @media (min-width: 600px) {
//     padding: 0 5rem 0 1.25rem;
//   }
// }
