.catalogue {
  &-item {
    border-top: 0.5px solid var(--accent);
    color: var(--font);
    display: block;
    padding: 1.5rem 0;

    &:hover .catalogue-line,
    &:focus .catalogue-line {
      width: 5rem;
    }

    &:last-child {
      border-top: 0.5px solid var(--accent);
      // border: 0;
    }
  }

  &-title {
    color: var(--font);
    font-family: "Playfair Display", sans-serif;
    display: block;
    text-align: left;
    font-size: 2rem;
    font-weight: 500;
    margin: 0.5rem 0;
    &:hover,
    &:focus {
      opacity: 0.6;
    }
  }

  &-time {
    margin-left: 2px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: left;
    font-family: "Josefin Sans";
    font-size: 18px;
    font-weight: 300;
    font-style: bold;
    letter-spacing: 2px;
    color: var(--accent);
  }

  &-line {
    @include transition(all 0.3s ease-out);
    border-top: 0.2rem solid var(--accent);
    display: block;
    width: 2rem;
  }
}
