pre,
code {
    font-family: "Victor Mono", monospace;
}

code {
    border-radius: 0px;
    color: var(--code);
    font-size: 100%;
    font-weight: 500;
    // overflow-x: auto;
}

// DONE
pre {
    // border-left: 3px solid var(--font);
    // border-radius: 0.25rem;
    border-top: 1px solid var(--accent);
    border-bottom: 1px solid var(--accent);
    font-size: 18px;
    @media (max-width: 650px) {
        font-size: 16px;
    }
    margin: 0 0 1rem;
    padding: 0.5rem;
}

.chroma .c1,
.s,
.s1,
.s2,
.se,
.k,
.nf {
    font-style: italic;
}

// .chroma .line {
//   display: flex;
// }

// Code blocks tag
// code[data-lang]::before {
//   content: attr(data-lang);
//   display: block;
// }

.highlight pre code:before {
    // FIXME
    // position: relative;
    position: sticky;
    // top: -2px;
    left: 0px;
    display: inline-flex;
    padding: 0.25em 0.5em;
    background: var(--font);
    border-bottom-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    border: 0;
    color: var(--bg-sel);
    font-size: 80%;
    font-weight: 600;
}

pre code {
    color: var(--font);
    font-size: 100%;
    font-style: normal;
    margin-top: -1em;
    // FIXME
    // padding: 0.01rem;
}

// DONE
.highlight {
    margin: 1rem 0;
    pre {
        margin-bottom: 0;
        // padding: 0 0.5em;
        overflow-x: auto;
        // white-space: pre-wrap;
    }
}

.mermaidbox {
    overflow: auto;   /* Enables scrolling */
    max-width: 100%;  /* Responsive container */
}

pre.mermaid {
    max-width: 100%;  /* Prevents overflow */
    width: auto;      /* Allows natural scaling */
    height: auto;     /* Prevents fixed height */
    overflow-x: auto; /* Enables horizontal scrolling if needed */
    overflow-y: hidden; /* Prevents vertical scroll unless necessary */
}

pre.mermaid svg[id^="m"][width][height][viewBox] {
    /* Ensure SVG can scale and be explored */
    max-width: none;     /* Override any max-width restrictions */
    min-width: 100%;     /* Ensure minimum width fills container */
    height: auto;        /* Maintain aspect ratio */
}

pre.mermaid p {
    font-family: initial;
    line-height: 1.1;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background: var(--accent);
    opacity: 0.6;
    // border-radius: 6px;
    border: 5px solid transparent;
    background-clip: content-box;
}
