pre,
code {
  font-family: "Roboto Mono", monospaced;
}

code {
  border-radius: 0px;
  // color: $code-color;
  color: var(--code);
  font-style: italic;
  font-size: 100%;
  overflow-x: auto;
}

// DONE
pre {
  // border-left: 3px solid var(--font);
  font-size: 16px;
  border-radius: 0.25rem;
  margin: 0 0 1rem;
}

// *,
// ::after,
// ::before {
//   box-sizing: border-box;
// }

.highlight pre code:before {
  // FIXME
  // position: relative;
  position: sticky;
  // top: -2px;
  left: 0px;
  display: inline-flex;
  padding: 0.25em 0.5em;
  background: var(--font);
  border-bottom-right-radius: 0.25rem;
  // border-top-left-radius: 2px;
  border: 0;
  color: var(--bg-sel);
  font-size: 80%;
  font-weight: 600;
}

pre code cl {
  // padding-left: 0.25em;
}

pre span {
  // font-size:16px;
  // font-style: italic;
  // margin-top:20px;
  padding-right: 0.5em;
  display: inline-block;
}

pre code {
  color: var(--font);
  font-size: 100%;
  font-style: normal;
  // FIXME
  padding: 0.01rem;
}

// DONE
.highlight {
  margin: 0.5rem 0;
  pre {
    margin-bottom: 0;
    // padding: 0 0.5em;
    overflow-x: auto;
  }
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--scroll);
  opacity: 0.6;
  border-radius: 6px;
  border: 5px solid transparent;
  background-clip: content-box;
}

// Code blocks tag

code.language-c:before {
  content: "c";
}
code.language-cpp:before {
  content: "C++";
}
code.language-clojure:before {
  content: "clojure";
}
code.language-css:before {
  content: "css";
}
code.language-elixir:before {
  content: "elixir";
}
code.language-emacs-lisp:before {
  content: "elisp";
}
code.language-erlang:before {
  content: "erlang";
}
code.language-go:before {
  content: "go";
}
code.language-haskell:before {
  content: "haskell";
}
code.language-html:before {
  content: "html";
}
code.language-idris:before {
  content: "idris";
}
code.language-json:before {
  content: "json";
}
code.language-java:before {
  content: "java";
}
code.language-javascript:before {
  content: "js";
}
code.language-julia:before {
  content: "julia";
}
code.language-kotlin:before {
  content: "kotlin";
}
code.language-latex:before {
  content: "latex";
}
code.language-lua:before {
  content: "lua";
}
code.language-markdown:before {
  content: "md";
}
code.language-nix:before {
  content: "nix";
}
code.language-org:before {
  content: "org";
}
code.language-perl:before {
  content: "perl";
}
code.language-php:before {
  content: "php";
}
code.language-python:before {
  content: "python";
}
code.language-racket:before {
  content: "racket";
}
code.language-ruby:before {
  content: "ruby";
}
code.language-rust:before {
  content: "rust";
}
code.language-scheme:before {
  content: "scheme";
}
code.language-sh:before {
  content: "sh";
}
code.language-zig:before {
  content: "zig";
}
