main,
footer,
.nav-container {
  display: block;
  margin: 0 auto;
  max-width: 1000px;
  width: 90%;
}

.nav {
  box-shadow: 0 2px 2px -2px $shadow-color;
  overflow: auto;

  &-container {
    margin: 1rem auto;
    text-align: left;
  }

  &-title {
    @include transition(all 0.2s ease-out);
    display: inline-block;
    font-style: "Inter", sans serif;
    font-weight: 600;
    margin: 0;
    padding-right: 0.2rem;
    font-size: 2.8rem;

    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media only screen and (max-width: 850px) {
      font-size: 2rem;
    }

    @media only screen and (max-width: 625px) {
      font-size: 1.6rem;
    }

    @media only screen and (max-width: 398px) {
      font-size: 1.3rem;
    }

    &:hover,
    &:focus {
      opacity: 0.6;
    }
  }

  ul {
    list-style-type: none;
    margin: 1rem 0 0;
    padding: 0;
    text-align: left;
  }

  li {
    @include transition(all 0.2s ease-out);
    // color: $default-color;
    display: inline-block;
    opacity: 0.6;
    padding: 0 1.2rem 0 0;
    font-style: "Inter", sans serif;
    font-weight: 400;
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media only screen and (max-width: 425px) {
      padding: 0 0.9rem 0 0;
    }

    &:last-child {
      padding-right: 0;
    }

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  a {
    color: $default-color;
    font-family: $sans-serif;
  }
}

footer {
  font-family: $serif-secondary;
  padding: 2rem 0;
  text-align: center;

  span {
    color: var(--font);
    font-size: 0.8rem;
  }
}

// Courtesy of Nicholas Rougier
#TableOfContents {
  // TODO Show element only after heading has been scrolled?
  @media (min-width: 1480px) {
    // Tufte
    float: right;
    clear: right;
    margin-right: -50%;
    width: 40%;
    margin-top: 0.3rem;
    margin-bottom: 0;
    padding-bottom: 0.1rem;
    line-height: 1.3;
    vertical-align: baseline;
    position: sticky;
    top: 1rem;
  }

  @media (max-width: 700px) {
    color: var(--font);
    font-size: 120%;
  }

  font-size: 1.2rem;
  padding-top: 0em;
  padding-left: 1em;
  margin-top: 0em;
  // text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;

  a {
    &:hover {
      color: var(--bg-sel);
      background: var(--link);
      text-decoration: none;
    }
  }
}
#TableOfContents:before {
  content: "Table of Contents";
  border-bottom: 1px solid var(--font);
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  display: block;
  font-size: 130%;
  padding-top: 2em;
  margin-top: -2em;
  @media (max-width: 1480px) {
    margin-left: -0.75em;
  }
  margin-left: -1em;
  text-transform: capitalize;
}
#TableOfContents ul {
  padding: 0;
  font-weight: 400;
  font-size: 87%;
  list-style: none;
  counter-reset: list 0;
}
#TableOfContents ul ul {
  padding-left: 0em;
  font-weight: 300;
  line-height: 1.5em;
  margin-top: 0em;
  margin-bottom: 0.3em;
  padding-left: 2em;
}
#TableOfContents h2:before {
  content: "";
  counter-reset: section;
}
#TableOfContents ul li {
  vertical-align: top;
  font-size: 95%;
  display: inline-block;
  width: 32%;

  @media (min-width: 1480px) {
    width: 100%;
  }

  @media (max-width: 700px) {
    width: 100%;
    font-size: 100%;
  }
}
#TableOfContents ul li:before {
  display: inline-block;
  counter-increment: list;
  content: counters(list, ".") ".";
  @media (max-width: 1350px) {
    content: "";
  }
  @media (max-width: 700px) {
    content: counters(list, ".") ".";
  }
  width: 2em;
  margin-left: -2em;
  text-align: right;
  text-transform: uppercase;
  color: var(--link);
}
#TableOfContents ul li ul,
#TableOfContents ul li ul li {
  display: static;
  width: 100%;
  padding-left: 0;
  line-height: 1.35em;
  font-size: 95%;
  text-transform: capitalize;
  // font-family: "Josefin Sans", sans-serif;

  @media (max-width: 700px) {
    text-transform: uppercase;
  }
}
#TableOfContents ul li ul li:before {
  content: "";
}
