footer,
main,
.nav-container {
    display: block;
    font-weight: 300;
    margin: 0 auto;
    max-width: 1000px;
    width: 90%;
    @media (max-width: 625px) {
        width: 95%;
    }
}

.nav {
    display: block;
    overflow: auto;

    &-container {
        margin: 1rem auto;
        text-align: left;
    }

    &-title {
        @include transition(all 0.2s ease-out);
        display: inline-block;
        font-family: "Source Sans Pro";
        color: var(--head);

        font-weight: 600;
        margin: 0;
        padding-right: 0.2rem;
        font-size: 2.8rem;

        @media only screen and (max-width: 850px) {
            font-size: 2rem;
        }

        @media only screen and (max-width: 625px) {
            font-size: 1.8rem;
        }

        @media only screen and (max-width: 398px) {
            font-size: 1.4rem;
        }

        &:hover,
        &:focus {
            opacity: 0.6;
        }
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: left;
    }

    li {
        @include transition(all 0.2s ease-out);
        color: var(--head);
        display: inline-block;
        opacity: 0.6;
        padding: 0 1.2rem 0 0;

        @media only screen and (max-width: 625px) {
            padding: 0 0.7rem 0 0;
            font-size: 90%;
        }
        @media only screen and (max-width: 425px) {
            padding: 0 0.3rem 0 0;
            font-size: 65%;
        }

        &:last-child {
            padding-right: 0;
        }

        &:hover,
        &:focus {
            opacity: 1;
        }
    }

    a {
        color: var(--head);
    }

    li a {
        font-family: "Josefin Sans";
        font-weight: 500;
        text-transform: uppercase;
    }
}

footer {
    font-family: $serif-secondary;
    text-align: center;
    padding: 2rem 0;
    // FIXME
    // padding-top: 5%;
    // padding-bottom: 20%;
    // display: block;
    // position: sticky;
    // // margin-bottom: 2rem;
    // font-size: 1rem;
    // transform-origin: bottom left;
    // transform: rotate(-90deg);
    // bottom: 1rem;
    // left: 10vw;
    // text-align: left;
    span {
        color: var(--font);
        font-size: 0.85rem;
    }
}
// footer::before {
//   content: "";
//   display: inline-block;
//   vertical-align: middle;
//   margin-right: 15px;
//   height: 1px;
//   width: 25px;
//   background: #919795;
// }
// Courtesy of Nicholas Rougier
#TableOfContents {
    // TODO Show element only after heading has been scrolled?
    @media (min-width: 1480px) {
        // Tufte
        float: right;
        clear: right;
        margin-right: -50%;
        width: 40%;
        margin-top: 0.3rem;
        margin-bottom: 0;
        max-height: 100vh;
        // overflow: hidden;
        // FIXME clips text
        // overflow-y: auto;

        ::webkit-scrollbar {
            width: 5px;
            opacity: 0.6;
        }
        line-height: 1.3;
        vertical-align: baseline;
        position: sticky;
        top: 1rem;
    }

    @media (max-width: 700px) {
        color: var(--font);
        font-size: 120%;
    }

    font-size: 1.15rem;
    padding-top: 0em;
    padding-left: 1em;
    margin-top: 0em;
    // text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;

    a {
        color: var(--accent);

        &:hover {
            color: var(--bg);
            background: var(--link);
            text-decoration: none;
        }
    }
}
#TableOfContents:before {
    content: "Table of Contents";
    text-transform: uppercase;
    color: var(--accent);
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    display: block;
    font-size: 105%;
    padding-top: 2rem;
    margin-top: -1.65rem;
    
    // @media (max-width: 1480px) {
    //     margin-left: -0.70rem;
    //     width: 90%;
    //     // color: var(--head);
    // }
    @media (min-width: 1480px) {
        width: 90%;
    }
    border-bottom: 1px solid var(--accent);
    margin-left: -1em;
}
#TableOfContents ul {
    padding: 0;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    font-weight: 400;
    font-size: 87%;
    list-style: none;
    counter-reset: list 0;
}
#TableOfContents ul ul {
    padding-left: 0em;
    font-weight: 300;
    line-height: 1.5em;
    margin-top: 0em;
    margin-bottom: 0.3em;
    padding-left: 2em;
}
#TableOfContents h2:before {
    content: "";
    counter-reset: section;
}
#TableOfContents ul li {
    vertical-align: top;
    font-size: 95%;
    display: inline-block;
    margin-bottom: 0em;
    margin-top: 0em;
    width: 32%;

    @media (min-width: 1480px) {
        width: 100%;
    }

    @media (max-width: 700px) {
        width: 100%;
        font-size: 100%;
    }
}
#TableOfContents ul li:before {
    display: inline-block;
    counter-increment: list;
    content: counters(list, ".") ".";
    padding-right: 1em;
    @media (max-width: 1479px) {
        padding-right: 0;
        content: "";
    }
    @media (max-width: 700px) {
        content: counters(list, ".") ".";
        padding-right: 0;
    }
    width: 2em;
    margin-left: -2em;
    text-align: right;
    text-transform: uppercase;
    color: var(--accent);
}
#TableOfContents ul li ul,
#TableOfContents ul li ul li {
    display: static;
    width: 100%;
    padding-left: 0;
    padding-left: 0.25em;
    @media (max-width: 1480px) {
        padding-left: 0;
    }
    line-height: 1.25em;
    font-size: 0.8rem;
    font-weight: 400;
    text-transform: uppercase;
    // font-family: "Josefin Sans", sans-serif;

    @media (max-width: 700px) {
        text-transform: uppercase;
    }
}
#TableOfContents ul li ul li:before {
    content: "";
}
