main,
footer,
.nav-container {
  display: block;
  margin: 0 auto;
  max-width: 1000px;
  width: 90%;
}

.nav {
  box-shadow: 0 2px 2px -2px $shadow-color;
  overflow: auto;

  &-container {
    margin: 1rem auto;
    position: relative;
    text-align: left;
  }

  &-title {
    @include transition(all 0.2s ease-out);
    display: inline-block;
    font-style: "Inter", sans serif;
    font-weight: 600;
    margin: 0;
    padding-right: 0.2rem;
    font-size: 2.8rem;

    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media only screen and (max-width: 850px) {
      font-size: 2rem;
    }

    @media only screen and (max-width: 625px) {
      font-size: 1.6rem;
    }

    @media only screen and (max-width: 398px) {
      font-size: 1.3rem;
    }

    &:hover,
    &:focus {
      opacity: 0.6;
    }
  }

  ul {
    list-style-type: none;
    margin: 1rem 0 0;
    padding: 0;
    text-align: center;
  }

  li {
    @include transition(all 0.2s ease-out);
    // color: $default-color;
    display: inline-block;
    opacity: 0.6;
    padding: 0 1.2rem 0 0;
    font-style: "Inter", sans serif;
    font-weight: 400;
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media only screen and (max-width: 425px) {
      padding: 0 0.9rem 0 0;
    }

    &:last-child {
      padding-right: 0;
    }

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  a {
    color: $default-color;
    font-family: $sans-serif;
  }
}

@media (min-width: 600px) {
  .nav {
    &-container {
      text-align: left;
    }

    ul {
      bottom: 0;
      position: absolute;
      right: 0;
    }
  }
}

footer {
  font-family: $serif-secondary;
  padding: 2rem 0;
  text-align: center;

  span {
    color: var(--font);
    font-size: 0.8rem;
  }
}

// FIXME
.toc + #TableOfContents {
  @media (min-width: 1450px) {
    position: fixed;
    left: auto;
    bottom: auto;
    right: 3.5vw;
    top: 6.5rem;
    font-size: 1.2rem;
    // display: none;
  }

  display: block;
  background: transparent;
  padding-bottom: 0.8em;
  font-size: 1.6rem;

  ol {
    display: list-item;
    padding-left: 0;

    &:not(:first-child) {
      display: list-item;
      font-style: italic;
      padding-left: 1.4rem;
      font-size: 90%;
    }
  }

  ul {
    // list-style-type: none;
    display: list-item;
    padding-left: 0;

    &:not(:first-child) {
      display: list-item;
      font-style: italic;
      padding-left: 1.4rem;
      font-size: 90%;
    }
  }

  li {
    display: inherit;
    color: var(--font);

    a {
      color: inherit;
      text-align: left;
      padding: 0;

      &:hover {
        // color: $highlight-color;
        background-color: transparent;
      }
    }
  }
}
